.close-modal {
  animation: modalclose 1s ease-in-out;
}
@keyframes modalclose {
  from {
    opacity: 1;
    transform: translateY(0);
  }
  to {
    opacity: 0;
    transform: translateY(-50px);
  }
}
.error {
  border: 1px solid red;
  background-color: #ffebe8;
}
.error-message {
  color: rgb(230, 53, 53);
  font-size: 13px;
  text-align: start;
  padding: 5px;
}
